---
import { getCollection } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import ArticleTeaser from '@/components/ArticleTeaser.astro';

const allArticles = await getCollection('articles');
const sorted = allArticles.sort(
  (a, b) =>
    b.data.published.localeCompare(a.data.published) || a.data.id.localeCompare(b.data.id),
);
---

<BaseLayout title="Articles">
  <main id="maincontent" class="wrapper">
    <h1>Articles</h1>
    <ol class="teaser-list">
      {sorted.map((article) => <ArticleTeaser article={article} />)}
    </ol>
  </main>
</BaseLayout>
