---
import { getCollection } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import IssueTeaser from '@/components/IssueTeaser.astro';

const issues = await getCollection('issues');
const sorted = issues.sort((a, b) =>
  b.data.published.localeCompare(a.data.published),
);
---

<BaseLayout title="Issues">
  <main id="maincontent" class="wrapper">
    <h1>Issues</h1>
    <ol class="teaser-list">
      {sorted.map((issue) => <IssueTeaser issue={issue} />)}
    </ol>
  </main>
</BaseLayout>
