---
import { getCollection } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { articleTypeLabel } from '@/utils/slugs';
import ArticleTeaser from '@/components/ArticleTeaser.astro';

interface Props {
  type: string;
}

const { type } = Astro.props;
const heading = articleTypeLabel(type);

const all = await getCollection('articles');
const articles = all
  .filter((a) => a.data.type === type)
  .sort((a, b) => b.data.published.localeCompare(a.data.published));
---

<BaseLayout title={heading}>
  <main id="maincontent" class="wrapper">
    <h1>{heading}</h1>
    <ol class="teaser-list">
      {articles.map((article) => <ArticleTeaser article={article} />)}
    </ol>
  </main>
</BaseLayout>
