---
---

<footer class="site-footer">
  <p class="wrapper">
    All IJM articles, unless otherwise stated, are published under the terms of the Creative
    Commons Attribution (CC BY) License which permits use, distribution and reproduction in any
    medium, provided the work is properly attributed back to the original author and publisher.
  </p>
</footer>

<style>
  .site-footer {
    border-top: 1px solid var(--color-border);
    padding-block: var(--space-xl) var(--space-m);

    p {
      font-size: var(--step--1);
      color: var(--color-ink-muted);
      text-align: center;
      margin-block: 0;
    }
  }
</style>
