---
import { getCollection, type CollectionEntry } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const subjects = await getCollection('subjects');
  return subjects.map((subject) => ({
    params: { id: subject.data.id },
    props: { subject },
  }));
}

interface Props {
  subject: CollectionEntry<'subjects'>;
}

const { subject } = Astro.props;
const { name, id } = subject.data;

const allArticles = await getCollection('articles');
const subjectArticles = allArticles
  .filter((a) => a.data.subjects?.some((s) => s.id === id))
  .sort((a, b) => b.data.published.localeCompare(a.data.published));
---

<BaseLayout title={name}>
  <main id="maincontent">
    <h1>{name}</h1>
    <ul id="listing">
      {subjectArticles.map((article) => (
        <li>
          <a href={`/articles/${article.data.id}`}>{article.data.title}</a>
        </li>
      ))}
    </ul>
  </main>
</BaseLayout>
