---
import { getAllArticles, getAllIssues } from '@/utils/content';
import { type CollectionEntry } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { issueSlug } from '@/utils/slugs';
import ArticleTeaser from '@/components/ArticleTeaser.astro';

export async function getStaticPaths() {
  const issues = await getAllIssues();
  return issues.map((issue) => ({
    params: { id: issue.data.id, slug: issueSlug(issue.data.title) },
    props: { issue },
  }));
}

interface Props {
  issue: CollectionEntry<'issues'>;
}

const { issue } = Astro.props;
const { title, content: articleIds } = issue.data;

const allArticles = await getAllArticles();
const issueArticles = articleIds
  .map((id) => allArticles.find((a) => a.data.id === id))
  .filter((a): a is CollectionEntry<'articles'> => a !== undefined);
---

<BaseLayout title={title}>
  <main id="maincontent" class="wrapper">
    <h1>{title}</h1>
    <ol class="teaser-list">
      {issueArticles.map((article) => <ArticleTeaser article={article} />)}
    </ol>
  </main>
</BaseLayout>
