---
interface Props {
  title: string;
  description?: string;
}

const { title, description = 'International Journal of Microsimulation' } = Astro.props;
const siteTitle = 'International Journal of Microsimulation';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <title>{title === siteTitle ? title : `${title} | ${siteTitle}`}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body>
    <slot />
  </body>
</html>
